---
const { projectName, projectDesc, projectUrl } = Astro.props;
---

<a href={projectUrl} class="no-underline w-fit h-fit font-sans m-2 grow">
    <div class="flex flex-col justify-center h-full items-left p-4 bg-zinc-50/10 border-2 border-zinc-50/10 rounded-2xl w-full h-full">
        <h1 class="text-zinc-50">{projectName}</h1>
        <p class="text-zinc-400">{projectDesc}</p>
    </div>
</a>