---
const { projectName, projectDesc, projectUrl } = Astro.props;
---

<a href={projectUrl} class="no-underline w-1/4 h-1/8 font-Montserrat ml-4 mt-4">
    <div class="flex flex-col justify-center items-left p-4 bg-slate-50/10 border-2 border-slate-50/10 rounded-2xl w-full h-full">
        <h1 class="text-slate-50">{projectName}</h1>
        <p class="text-slate-400">{projectDesc}</p>
    </div>
</a>