---
import { Image } from 'astro:assets';

const { imageSrc, albumName, artistName, releaseDate, rating } = Astro.props;
---

<div class="flex flex-row absolute aspect-square h-[150px] w-[150px] m-2 max-w-[24%] grow font-sans snap-start">
    <Image class="w-full h-full rounded-2xl aspect-h-1 aspect-w-1" src={imageSrc} alt={albumName} width="600" height="600" decoding="async" loading="lazy"/>
</div>