.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transform-origin: center center;
  margin-left: -10px;
  margin-top: -10px;
}

/* Hide default cursor only when the custom cursor is active */
body:not(.touch-device) * {
  cursor: none !important;
}

.touch-device .custom-cursor {
  display: none;
}
