@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-rx100);
  --font-stardom: var(--font-stardom);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
}

@keyframes wave {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.hover-wave:hover span {
  animation: wave 0.6s ease-in-out;
  animation-fill-mode: both;
}

::selection {
  background: oklch(84.1% 0.238 128.85);
  color: oklch(92% 0.004 286.32);
}
@media (prefers-color-scheme: dark) {
  ::selection {
    background: oklch(84.1% 0.238 128.85);
    color: oklch(21% 0.006 285.885);
  }
}

/* Noise Overlay
.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.03;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  .noise-overlay {
    opacity: 0.05;
  }
} */
