---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="flex flex-col w-full text-slate-50">
		<section class="w-full flex flex-col h-[92.5vh]">
			<h1 class="font-sans font-bold text-zinc-50 text-5xl subpixel-antialiased m-5">Contact me</h1>
		</section>
	</main>
</Layout>
