---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="flex flex-col w-full text-zinc-200">
		<section class="w-full flex items-center justify-center h-[92.5vh]">
			<h1 class="font-sans font-bold text-zinc-200 text-[25vw] subpixel-antialiased">FIXIU</h1>
		</section>
	</main>
</Layout>
