---
import Layout from '../layouts/Layout.astro';
import Project from '../components/projects/Project.astro';
---

<Layout>
    <div class="px-5 py-8 max-w-7xl mx-auto min-h-[92vh]">
        <header class="mb-10">
            <h1 class="text-4xl font-bold text-zinc-100 mb-2">Projects</h1>
            <p class="text-zinc-400">A collection of my work and side projects</p>
        </header>

        <section class="flex row flex-wrap justify-center gap-2">
            <Project 
                projectName="Music"
                projectDesc="A webpage I've made to learn new skills and create a place for me to rate music albums"
                projectUrl="/projects/music"
            />
            <Project 
                projectName="Music 2.0"
                projectDesc="A completely revamped version of my music webpage, built from the ground up with a new design and features, still in development. Password protected."
                projectUrl="/projects/music"
                flags="WIP"
            />
            <Project 
                projectName="Wielomiany"
                projectDesc="Maths long term project exploring polynomial functions and their applications"
                projectUrl="/projects/wielomiany"
            />
        </section>
    </div>
</Layout>