---
import Layout from '../layouts/Layout.astro';
import Project from '../components/projects/Project.astro';
---

<Layout>
    <section class="flex flex-row w-full justify-around p-2 flex-wrap h-[92.5vh] content-start">
        <Project projectName="Music" projectDesc="A website I've made to learn new skills" projectUrl="/projects/music" />
        <Project projectName="Wielomiany" projectDesc="Work in progress" projectUrl="/projects/" flags="WIP" />
    </section>
	
</Layout>
