---
import Layout from '../layouts/Layout.astro';
import Project from '../components/projects/Project.astro';
---

<Layout>
    <div class="flex flex-row w-full justify-around p-2 flex-wrap">
        <Project projectName="Wielomiany" projectDesc="This is a project I made for my math class. It's in Polish" projectUrl="/projects/wielomiany" />
        <Project projectName="Music" projectDesc="Music review" projectUrl="/projects/music" />
    </div>
	
</Layout>
