---
import ChatMessage from './ChatMessage.astro';
import UserMessage from './UserMessage.astro';
---

<UserMessage>
  <select class="text-[#ECECEC] whitespace-pre-wrap bg-transparent outline-none" id="selectMessage1">
    <option class="bg-[#303030] p-2 outline-none active:bg-[#404040] focus:bg-[#404040]">
      Jakie są rodzaje wielomianów?
    </option>
    <option class="bg-[#303030] p-2">
      Jakie zastosowania mają wielomiany?
    </option>
  </select>
</UserMessage>
<ChatMessage>
  <p class="text-[#ECECEC] whitespace-pre-wrap" id="dynamicChatMessage"></p>
</ChatMessage>

<script is:inline>
  document.getElementById('selectMessage1').addEventListener('change', function() {
    const selectedOption = this.value;
    const chatMessageElement = document.getElementById('dynamicChatMessage');
    if (selectedOption === 'Jakie są rodzaje wielomianów?') {
      chatMessageElement.textContent = 'Rodzaje wielomianów to: jednomiany, dwumiany, trójmiany i wielomiany wyższych stopni.';
    } else if (selectedOption === 'Jakie zastosowania mają wielomiany?') {
      chatMessageElement.textContent = 'Wielomiany mają zastosowania w wielu dziedzinach matematyki, w tym w algebrze, analizie matematycznej i teorii liczb.';
    }
  });
</script>