<div class="chat-message mx-auto max-w-3xl lg:max-w-[90%] group relative mb-6 flex justify-end">
  <div class="flex-1 space-y-2 overflow-hidden px-1 max-w-[80%] flex">
    <div class="ml-auto text-zinc-50 prose prose-invert max-w-none overflow-hidden rounded-2xl bg-emerald-900/15 p-5 shadow-lg backdrop-blur-sm dark:prose-headings:text-zinc-100 dark:prose-p:text-zinc-300 dark:prose-strong:text-zinc-200 dark:prose-code:text-zinc-100 border border-emerald-800/30">
      <slot />
    </div>
  </div>
</div>