<div class="w-full h-[calc(100vh-15vh)] flex items-center justify-center">
    <h1 class="font-DMSerif text-zinc-50 text-[10vw]">fixiu</h1>
</div>

<style>
    @font-face {
        font-family: Redaction;
        src: url(../assets/font/Redaction-Regular.otf);
    }
    @font-face {
        font-family: Redaction Bold;
        src: url(../assets/font/Redaction-Bold.otf);
    }
</style>