---
import Layout from '../../layouts/Layout.astro';
import ChatMessage from '../../components/projects/wielomiany/ChatMessage.astro';
import UserMessage from '../../components/projects/wielomiany/UserMessage.astro';

---

<Layout>
	<main class="bg-[#212121]">
		<section class="flex items-center justify-center font-sans font-bold h-[92.5vh]">
			<h1 class="text-zinc-50 text-[10vw]">Wielomiany</h1>
		</section>
		<section>
			<UserMessage messageText="Czym są wielomiany?"/>
			<ChatMessage messageText="Wielomiany to wyrażenia algebraiczne zbudowane z jednej lub więcej zmiennych (np. x) oraz stałych, połączonych operacjami dodawania, odejmowania i mnożenia, a także potęgowania do liczb całkowitych nieujemnych."/>
			<UserMessage messageText="Lorem Ipsum"/>
			<ChatMessage messageText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id bibendum nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida tincidunt semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas tristique nulla ut ligula ultrices tristique. Sed consectetur elit erat, ac tincidunt lacus consectetur vitae. Proin nibh dui, sodales at pharetra et, venenatis quis lorem. Nulla blandit arcu ligula, vitae ornare tellus pharetra eget. Nulla quis sollicitudin ante, at dapibus diam. Nunc non hendrerit metus, quis ultrices nisi."/>
		</section>
	</main>
</Layout>
