---
import Layout from '../../layouts/Layout.astro';
import Main from '../../components/projects/wielomiany/Wielomiany.astro';

---

<Layout>
	<div class=""> <!-- TODO: add background image gradient??? SOME GRID like the graph paper -->
		<div class="font-sans font-bold">
			<h1 class="text-zinc-50 text-[10vw]">Wielomiany</h1>
			
		</div>
		<div class="font-sans"></div>
			<h2 class="text-zinc-100">W(x) = x<sup>6</sup> - 2x<sup>5</sup> + 3x<sup>4</sup> - 4x<sup>3</sup> - 9</h2>
		</div>
	</div>
</Layout>
