---
import '@fontsource-variable/montserrat';

import './src/styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="fixiu.github.io/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>FIXIU</title>
	</head>
	<body class="bg-zinc-950">
		<nav class="flex flex-row justify-around items-center h-[7.5vh] bg-zinc-50/10 border-b border-zinc-50/10">
			<a href="/" class="text-zinc-200 font-sans no-underline"><div>Home</div></a>
			<a href="/projects" class="text-zinc-200 font-sans no-underline"><div>Projects</div></a>
			<a href="/contact" class="text-zinc-200 font-sans no-underline"><div>Contact</div></a>
		</nav>
		<slot />
		<footer class="h-[7.5vh] bg-zinc-50/10 bottom-0 w-full border-t border-zinc-50/10">
			<div class="flex flex-row justify-around items-center h-full w-full text-zinc-200 font-sans">
				<div class="text-zinc-200 font-sans"><a class="no-underline" href="https://github.com/FIXIU/">© 2024 - 2025 Filip Kowalczyk. All rights reserved.</a></div>
				<div class="text-zinc-200 font-sans"><a class="no-underline" href="https://astro.build/">Made with Astro</a></div>
			</div>
		</footer>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
	
	html::-webkit-scrollbar {
		display: none;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

</style>
