<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="fixiu.github.io/favicon.svg" />
		<link rel="stylesheet" href="/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>FIXIU</title>
	</head>
	<body class="bg-slate-950">
		<nav class="flex flex-row justify-around items-center h-[7.5vh] bg-slate-50/10">
			<a href="/" class="text-slate-50 font-Montserrat no-underline"><div>Home</div></a>
			<a href="/projects" class="text-slate-50 font-Montserrat no-underline"><div>Projects</div></a>
		</nav>
		<slot />
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	html {
		scroll-behavior: smooth;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
