<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="fixiu.github.io/favicon.svg" />
		<link rel="stylesheet" href="/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>FIXIU</title>
	</head>
	<body>
		<nav>
			<a href="/" id="navButton"><div>Home</div></a>
			<a href="/projects" id="navButton"><div>Projects</div></a>
		</nav>
		<slot />
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

	:root {
		--primary: #f5f5f5;
		--secondary: #f5f5f5;
		--tertiary: #f5f5f5;
		--quaternary: #f5f5f5;
		--quinary: #f5f5f5;
		--semiforeground: #ffffff1f;
	}

	html {
		scroll-behavior: smooth;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: black;
	}

	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 7.5vh;
		background-color: var(--semiforeground);
	}

	#navButton {
		text-decoration: none;
		color: var(--primary);
		font-family: 'Montserrat', sans-serif;
	}
</style>
